* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.script-box {
  margin-top: 2rem;
  width: 100%;
  background-color: aqua;
}

.script {
  margin: auto;
  color: black;
}

.script p {
  font-size: 1.8rem;
  white-space: pre-wrap;
}

.btn {
  display: inline-block;
  background-color: darkblue;
  color: white;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 4rem;
  text-decoration: none;
}
